/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-image: url("assets/bg.png");
    
    color: white;
}

section {
    min-height: 70vh;
    padding: 0 7%;
}

.sep_line {
    width: 100%;
    height: 1px;
    background-color: #969696;
}

.header {
    font-family: 'rubik';
    width: 100%;
    padding: 3rem 7%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar a{
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 6rem;
}

.navbar a:hover {
    color: rgba(88,40,126,1);
    transition: .5 ease;
}

.navbar a.active{
    text-decoration: underline;
}


.home_content {
    text-align: center;
    margin-top: 20rem;
}


.home_title h2{
    font-size: 3.8rem;
    font-family: 'syne';
    font-weight: 700;
}

.home_title h1{
    font-size: 6rem;
    font-family: 'syne';
    font-weight: 700;
    margin-top: 1.5rem;
}

.CTA {
    background-image: linear-gradient(90deg, rgba(58,77,180,1) 0%, rgba(88,40,126,1) 82%);
    color: white;
    padding: 1.7rem 3rem;
    width: auto;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: .2rem;
    font-family: 'rubik';
    border-radius: 3rem;
    cursor: pointer;

}

.box img {
    border-radius: 1.3rem;
}

.CTA.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 7rem;
    width: 19rem;
    height: 50px;
    transition: .3s ease;
}

.CTA.home:hover {
    width: 22rem;
}

.scroll_to_bottom {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    cursor: pointer;
}

section.about_me {
    min-height: 100vh;
    display: flex;
}

.about_me_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_home_title_container {
    display: flex;
    justify-content: center;
}

.about_home_title{
    width: 60%;
}

.about_me_text {
    width: 50%;
}

.about_me_title {
    font-family: 'syne';
    font-size: 4.8rem;
    font-weight: 700;
}

.about_me_description {
    font-family: 'rubik';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.3rem;
    color: #A9A9A9;
    text-align: justify;
    margin-top: 1rem;
}

.about_me_right_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_me_img {
    width: 40rem;
}

.about_me_links {
    margin-top: 1rem;
    margin-left: 2rem;
}

.CTA.about_me {
    margin-top: 6rem;
}

.projects_section_title {
    font-family: 'syne';
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5rem;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filter {
    color: #A9A9A9;
    background: transparent;
    font-family: 'inter';
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 7rem;
}

.active_button{
    text-decoration: underline;
}

.projects_container {
    display: flex;

    
}

.filtered_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10rem;
    width: 100%;
    align-items: center;
}

.projects_container_grid {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 10rem;
        width: 100%;
}

.projects_box {
    margin: 0 auto;
    color: white;
    transition: .5s ease;
}

.projects_box:hover {
    scale: 1.02;
    transition: .5s ease;
    border-radius: 1rem;
}

.project_title {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.project_name {
    font-family: 'syne';
    font-size: 2rem;
    font-weight: 700;
}

.line {
    width: 3rem;
    height: 2px;
    background: #466AB0;
    margin-left: 2rem;
}

.type {
    font-family: 'syne';
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
}

.CTA.projects_cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 7rem;
    width: 25rem;
    transition: .3s ease;
}

.CTA.projects_cta:hover  {
    width: 27rem;
    transition: 1 ease;
}

.skills_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_container_grid {
    margin-top: 10rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
}

.skills_container_grid img{
    margin-left: 2.8rem;
}

@media (max-width: 1750px){
    .projects_container_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }
}

.contact {
    min-height: 40vh;
}

.contact_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20rem;
}

.contact_content_title {
    font-family: 'syne';
    font-size: 6.2rem;
}

.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14rem;
    align-items: center;
}

.contact_icon {
    width: 3rem;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    padding: 1.5rem 1rem;
    padding-right: 5rem;
    background: transparent;
    color: #DEDEDE;
    font-family: 'rubik';
    font-size: 2rem;
    font-weight: 500;
    border: 2px solid #DEDEDE;
    border-radius: .8rem;
    cursor: pointer;
}

.info a{
    display: flex;
    align-items: center;
    color: #DEDEDE;
}

.resume {
    padding-right: 11.6rem;
}

.footer {
    margin-top: 4rem;
    padding: 0 7% 5rem;
    display: flex;
    justify-content: space-between;
}

.tn {
    width: 2rem;
}

.rights {
    font-family: 'rubik';
    color: #A9A9A9;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27rem;
}


/* about page */

.about_home {
    min-height: 70vh;
}

section.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.about_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.about_title {
    margin-bottom: auto;
}

.about_title h1{
    font-family: 'syne';
    font-size: 2.5rem;
    font-weight: 700;
}

.about_title img{
    width: 3rem;
}

.about_description {
    width: 70%;
}

.about_description p{
    font-family: 'rubik';
    font-size: 1.5rem;
    font-weight: 400;
    color: #A9A9A9;
    text-align: justify;
}

.personal_interests_p {
    margin-top: 2rem;
}

.about_line {
    width: 100%;
    height: 1px;
    background: #484E53;
    margin-top: 6rem;
}

.socials {
    min-height: 50vh;
    margin-top: 10rem;
}

.socials_title {
    font-family: 'syne';
    font-size: 4.1rem;
    font-weight: 700;
}

.social_links {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.social_links a{
    font-family: 'inter';
    font-size: 2.7rem;
    font-weight: 700;
    color: #949494;
    transition: .3s ease;
}

.social_links a:hover {
    color: white;
    transition: .3s ease;
}

.about_contact_content {
    margin-top: 0;
}

/* projects page */

.projects_page_container_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    flex-wrap: wrap;
    gap: 3rem;
    justify-items: center;
    align-items: center;
}

@media (max-width: 1750px){
    .projects_page_container_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

.projects_home {
    min-height: 70vh;
}

.projects_page_box {
    text-align: center;
}

.hide {
    display: none;
}

.navigation_arrows {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_arrows button {
    cursor: pointer;
}

.projects_page_title {
    margin-top: 1rem;
}


.projects_page_cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    margin-top: 10rem;
}

.projects_page_contact {
    margin-top: 15rem;
}


/* contact page */
.contact_home {
    min-height: 35vh;
}

.contact_home_content {
    margin-top: 20rem;
}

.contact_title h3{
    font-family: 'rubik';
    font-size: 1.5rem;
    font-weight: 600;
    color: #949494;
    margin-top: 2rem;
}

.contact_line {
    width: 100%;
    height: 1px;
    background: #484E53;
    margin-top: 10rem;
}

.contact_form_container {
    min-height: 50vh;
}

.contact_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_form_title {
    font-family: 'syne';
    font-size: 5rem;
    font-weight: 700;
    width: 50%;
}

.form_fields {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input {
    margin-top: 3rem;
    width: 100%;
    height: 6.5rem;
    background: hsla(0, 0%, 96%, 0.2);
    border-radius: .7rem;
    padding-left: 2rem;
}

.input::placeholder, .input{
    font-family: 'rubik';
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.message {
    height: 100px;
    resize: none;
    padding-top: 1rem;
    padding-right: 1rem;
}

.message::placeholder {
    padding-top: 3rem;
}

.submit {
    width: 11.1rem;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 3rem;
}

/* project details page */

.project_story {
    font-family: 'syne';
    font-size: 2.7rem;
    font-weight: 700;
    margin-top: 6rem;
}

.project_description {
    font-family: 'rubik';
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    line-height: 2.3rem;
    color: #9CA7B8;
    margin-top: 3rem;
}

.box {
    width: 100%;
    border-radius: 1rem;
}

.project_images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}

.back_arrow {
    margin-top: 10rem;
}

.project_images img {
    width: 40%;
}

.big_img {
    width: 100%;
}
